services:
  - type: web
    name: youtube-clone-backend
    env: node
    region: oregon
    plan: free
    rootDir: Backend
    buildCommand: npm install --production=false && npm run build && npm prune --production && npm rebuild bcrypt --build-from-source
    startCommand: npm run start
    envVars:
      - key: NODE_VERSION
        value: 22.16.0
      - key: NODE_ENV
        value: production
